* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 500px;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;

}

.calculator-buttons>* {
    flex: 1 0 25%;
    width: 100px;
    height: 80px;
}

.clear {
    flex: 1 0 75%;
}

.equal {
    flex: 1 0 50%;
}